QuickAccessPopup_LANG_DE.txt diff working-tree-encoding=UTF-16LE
QuickAccessPopup_LANG_KO.txt diff working-tree-encoding=UTF-16LE
QuickAccessPopup_LANG_NL.txt diff working-tree-encoding=UTF-16LE
QuickAccessPopup_LANG_RU.txt diff working-tree-encoding=UTF-16LE
QuickAccessPopup_LANG_ZH-CN.txt diff working-tree-encoding=UTF-16LE
QuickAccessPopup_LANG_JA.txt diff working-tree-encoding=UTF-16LE

